/* body */
body {
  background-color: #232329;
}

/* navbar */

.inner_menu {
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Teko", sans-serif;
  font-weight: bold;
  margin: 0 auto;
  width: 1170px;
  overflow: hidden;
  /* background-color:#232329; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* width: 100%; Full width */
}

.inner_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.inner_menu ul li {
  float: none;
  display: inline-block;
  padding-top: 20px;
  color: white;
}
.inner_menu ul li:nth-child(1) {
  float: left;
}
.inner_menu ul li:nth-child(2) {
  float: left;
}
.inner_menu ul li:nth-child(3) {
  float: left;
}
.inner_menu ul li:nth-child(4) {
  float: left;
}


.inner_menu ul li a {
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 20px 30px;
  color: white;
}

.inner_menu ul li a:hover {
  color: #ffa628;
  /* transition: 500ms linear */
}
.inner_menu ul li a:active {
  color: #ffa628;
}

.main_menu {
  width: 100%;
  position: relative;
}

.logo_area {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 4px;
  content: "";
  margin-left: -150px;
  text-align: center;
  overflow: hidden;
  /* background-color:#232329; */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* width: 100%; Full width */
}
/* nav mobile */

#menu {
  display: none;
}

 label {
  
  font-size: 3em;
  padding: 15px 0;
  display: none;
} 

@media (max-width: 960px) {
  label {
    display: block;
  } 
  .inner_menu{
    padding: 0;
  }
  .inner_menu ul {
        position: absolute;
        top : 5px;
        left: 0;
        background: #dadae0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
  }
  .inner_menu ul li {
    margin: 0 !important;
    width: 100%;
  }
  .inner_menu ul li a {
    padding: 15px 0;
    margin: 10px 0;
    text-align: center;
  }
  .inner_menu ul li a:hover {
    background: #ffa628;
  }
}
/* middle */

.intro_img {
  float: left;
  padding-top: 60px;
  padding-left: 50px;
}
.intro_img:hover {
  opacity: 0.3;
}

.middle_intro {
  float: right;
  padding-right: 300px;
  padding-top: 70px;
  font-family: "Teko", sans-serif;
}

.middle_intro h1 {
  font-size: 60px;
  color: #fe9000;
}
.middle_intro h1:hover {
  font-size: 70px;
}

.middle_intro p {
  font-size: 20px;
  color: white;
  margin-top: -40px;
}

.middle_intro button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Teko", sans-serif;
  text-align: center;
  background-color: #fe9000;
  font-weight: bold;
  border: none;
}

.middle_intro button:hover {
  width: 160px;
  height: 60px;
}



/* .about  {
    display: inline-block;
} */

.about_img {
  float: left;
  padding-top: 90px;
  /* padding-right: 1000px; */
  padding-left: 100px;
}
.about_img .img_about {
  width: 500px;
  height: 400px;
}
.about_img .img_about:hover {
  width: 510px;
  height: 410px;
}

.about_header {
  float: right;
  padding-right: 260px;
  padding-top: 100px;
  font-family: "Teko", sans-serif;
}
.about_header h1 {
  color: white;
  font-size: 30px;
}

.about_header h1:hover {
  font-size: 40px;
}

.about_header p {
  color: white;
  font-size: 25px;
}

/* food quality  */

.img5 {
  float: right;
  /* padding-left: 700px; */
  padding-right: 2px;
  margin-top: 150px;
  height: 450px;
  border-radius: 50%;
}
.img5:hover {
  height: 460px;
}
.img6 {
  float: right;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 50%;
  margin-top: 300px;
  width: 400px;

  /* margin-top: -550px; */
  /* height: 1500px;
  width: 1500px; */
}

.img6:hover {
  width: 410px;
}

/* .img7 {
  float: left; */
/* padding-left: 700px; */
/* padding-right: 200px;
  margin-top: -200px;
  height: 500px;
 }  */

.food_intr {
  float: left;
  padding-right: 500px;
  padding-left: 100px;
  margin-top: -660px;
  font-family: "Teko", sans-serif;
  font-size: 25px;
  color: white;
}

/* menuo  */

.gallary_intro {
  /* flex-wrap: wrap;
  display: inline-flex; */
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
  text-align: center;
  padding-top: 1800px;
  margin-left: 45px;
  color: white;
  font-size: 30px;
  font-family: "Teko", sans-serif;
}

.gallary_img {
  /* flex-wrap: wrap;
  display: inline-flex; */
  margin-top: 90px;
}
.meno_img {
  width: 330px;
  height: 400px;
  padding: 10px 10px 10px 10px;
  /* margin-right: 30px;
  margin-left: 30px; */
}

.meno_img:hover {
  width: 335px;
  height: 410px;
}

.info_img {
  width: 100%;
  height: 530px;
  padding-top: 70px;
}

/* info */

/* .info-section{
  position: absolute; 
  display: inline-block;
  width: 3000px;
} */
.info_intro {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 200px;
  right: 200px;
  top: 3050px;
  text-align: center;
  color: white;
  font-size: 23px;
  font-family: "Teko", sans-serif;
  background-color: #232329;
  border: 5px solid #fe9000;
  width: 550px;
  height: 310px;
}

.info_intro p {
  margin-top: -30px;
}

/* meno */

.meno_intro {
  font-size: 23px;
  font-family: "Teko", sans-serif;
  color: white;
  text-align: center;
}

.meno_img {
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
}

.meno_imgs2:hover {
  width: 415px;
  height: 276px;
}
.meno_imgs1:hover {
  width: 270px;
  height: 240px;
}
.meno_imgs2:hover {
  width: 415px;
  height: 276px;
}
.meno_imgs3:hover {
  width: 415px;
  height: 276px;
}
.meno-desc {
  display: inline;
}

.meno_img_first {
  font-family: "Teko", sans-serif;
  margin-left: 50px;
}
.meno_img_first h1 {
  color: #fe9000;
  margin-top: 10px;
  font-size: 40px;
}

.meno_img_first p {
  color: white;
  margin-top: -20px;
}

.meno_img_first h4 {
  color: #fe9000;
  margin-top: -10px;
}

.meno_img_secound {
  font-family: "Teko", sans-serif;
  margin-left: 400px;
  margin-top: -165px;
}

.meno_img_secound h1 {
  color: #fe9000;
  font-size: 40px;
}
.meno_img_secound p {
  color: white;
  margin-top: -10px;
}
.meno_img_secound h4 {
  color: #fe9000;
  margin-top: -10px;
}

.meno_img_thired {
  font-family: "Teko", sans-serif;
  margin-left: 750px;
  margin-top: -170px;
}

.meno_img_thired h1 {
  color: #fe9000;
  font-size: 40px;
}
.meno_img_thired p {
  color: white;
  margin-top: -10px;
}
.meno_img_thired h4 {
  color: #fe9000;
  margin-top: -10px;
}

.enjoy_intro{
  margin-top: -340px;
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 20px;
  text-align: center;
}

.footer_intro {
  color: white;
  text-align: center;
  margin-top: 100px;
  font-family: "Teko", sans-serif;
}


.footer_list ul {

  list-style: none;
  text-align: center;
}

.footer_list ul li {
  float: none;
  display: inline-block;
  /* padding-top: 5px; */
  color: white;
}
  .footer_list ul li a {
    font-size: 30px;
    text-decoration: none;
    display: block;
    padding: 20px 30px 20px 20px;
   color: white;
    font-family: "Teko", sans-serif;
  }

  .footer_social ul{
    list-style: none;
    text-align: center;
  }

  .footer_social ul i {
    float: none;
    display: inline-block;
    color: white;
    padding: 10px;

  }
 